{% extends 'layout.html' %}

{% block title %}
    <title>Show Fund Page</title>
{% endblock %}

{% block content %}
<center><h1>Show All Fund Name</h1></center>
<table class="table">
    <thead>
      <tr>
        {% comment %} <th scope="col">ID</th>
        <th scope="col">Stocks</th>
        <th scope="col">Sectors</th>
        <th scope="col">% of holding</th> {% endcomment %}
        <th scope="col">Mutual Fund Name</th> 
        {% comment %} <th scope="col">Mutual Fund Type</th>
        <th scope="col">Actions</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
    {% for i in obj %}
      <tr>
        {% comment %} <td>{{i.id}}</td>
        <td>{{i.sname}}</td>
        <td>{{i.sectors}}</td>
        <td>{{i.holding}}</td> {% endcomment %}
        {% comment %} <td>{{i.fname}}</td>  {% endcomment %}
        <td><a href="{% url 'show_fund_stock_url' i.fname %}">{{i.fname}}</a></td>
        {% comment %} <td>{{i.ftype}}</td>
        <td>
            <button class="btn btn-warning"><a href="{% url 'update_url' i.id %}">Update</a></button>&nbsp;&nbsp;
            <button class="btn btn-danger"><a href="{% url 'delete_url' i.id %}">Delete</a></button>
        </td> {% endcomment %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}