{% extends 'layout.html' %}

{% block title %}
    <title>Show Page</title>
{% endblock %}

{% block content %}
<center><h1>Show Orders</h1></center>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Stock Name</th>
        <th scope="col">Sector</th>
        <th scope="col">percent Holdings</th>
        <th scope="col">Mutual Fund Name</th>
        <th scope="col">Mutual fund type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for i in obj %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.sname}}</td>
        <td>{{i.sectors}}</td>
        <td>{{i.holding}}</td>
        <td>{{i.fname}}</td>
        <td>{{i.ftype}}</td>
        <td>
            <button class="btn btn-warning"><a href="{% url 'update_url' i.id %}">Update</a></button>&nbsp;&nbsp;
            <button class="btn btn-danger"><a href="{% url 'delete_url' i.id %}">Delete</a></button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}