{% extends 'layout.html' %}

{% block title %}
    <title>Show Fund Page</title>
{% endblock %}

{% block content %}
<center><h1>Show All Fund Name</h1></center>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Mutual Fund Name</th>
      </tr>
    </thead>
    <tbody>
    {% for i in obj %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'show_fund_stock_url' i.fname %}">{{i.fname}}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}